*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    background-color: #000;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.films__title{
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 30px;
}
.films__title:hover{
    color: red;
}
.films__sub-title{
    background-color: #fff;
}
.films__overview{
    background-color: #fff;
}
.films__genere-item{
    background-color: #fff;
}
.films__time{
    background-color: #fff;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    max-width: 100%;
    border-radius: 5px;
}
.films__card{
    width: 150px;
    width: 200px;
    /* width: 250px; */
    max-width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    border: 0.5px solid rgb(223, 218, 218);
    border-radius: 8px;
    background-color: #fff;
}
.form__div{
    width: 800px;
    position: relative;
    left: 15%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
}
/* .films__filter-wrapper{
    display: flex;
} */
#search{
    padding: 10px 40px;
    outline: none;
    background-color: #fff;
    border: 0.5px solid grey;
}
#search:hover{
    background-color: rgb(156, 148, 148);
    color: #fff;
    font-size: 20px;
    padding: 0 0 0 30px;
}
.films__title-link{
    text-decoration: none;
}
#select, #select2{
    padding: 10px 40px;
    background-color: #fff;
    color:rgb(141, 132, 132);
    outline: none;
}
#btn{
    padding: 10px 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(218, 211, 211);
}
.films__card:hover{
    box-shadow: 10px 10px 15px grey;
}
.films__sub-title{
    text-align: center;
    margin-top: 5px;
}
.films__overview{
    text-align: center;
    margin-top: 15px;
}
.films__genere-list{
    background-color: #fff;
}
.films__genere-item{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 800px){
    .container{
        width: 600px;
    }
    #search, #select, #btn{
        padding: 5px;
        margin-bottom: 10px;
    }
    .form__div{
        width: auto;
        display: block;
        left: 350%;
    }
    #form{
        width: 10%;
    }
    #select, #select2{
        width: 180px;
        padding: 5px;
        margin-bottom: 10px;
    }
    #btn{
        width: 180px;
    }
    .films__card{
        width: 250px;
    }
}

@media (max-width: 500px){
    .container{
        width: 400px;
    }
    #select{
        padding: 6px 34px;
    }
    #btn{
        padding: 7px 70px;
    }
    .form__div{
        left: 270%;
    }
    .films__card{
        width: 300px;
    }
}
