*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    background-color: #000;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.films__title{
    text-align: center;
    color: #fff;
    font-size: 30px;
    /* background-color: #fff; */
    padding: 10px;
    margin-bottom: 30px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    max-width: 100%;
    border-radius: 5px;
}
.films__card{
    width: 250px;
    max-width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    border: 0.5px solid rgb(223, 218, 218);
    border-radius: 8px;
    background-color: #fff;
}
.form__div{
    position: relative;
    left: 27%;
    margin-bottom: 30px;
}
#search{
    padding: 10px 40px;
    border-radius: 10px;
    outline: none;
    background-color: #fff;
    border: 0.5px solid grey;
}
.films__title-link{
    text-decoration: none;
}
#select{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #fff;
    color:rgb(141, 132, 132);
    outline: none;
}
#btn{
    padding: 10px ;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}
.films__card:hover{
    box-shadow: 10px 10px 15px grey;
}
.films__sub-title{
    text-align: center;
    margin-top: 5px;
}
.films__overview{
    text-align: center;
    margin-top: 15px;
}
.films__genere-list{
    background-color: #fff;
}
.films__genere-item{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 800px){
    .container{
        width: 600px;
    }
    .form__div{
        left: 7%;
    }
    #search, #select, #btn{
        padding: 5px;
    }
}

@media (max-width: 500px){
    .container{
        width: 400px;
    }
    .form__div{
        width: 100px;
        left: 27%;
    }
    #select{
        padding: 5px 33px;
        margin: 20px 0 20px 0;
    }
    #btn{
        padding: 5px 70px;
    }
}
